.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: solid 1px #EFEFEF;
  height: 50px;
}

.row .content {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.row .content div {
  width: 100%;
}

.row .content .info {
  text-align: center;
}

.row .content .cost {
  width: 100px;
}

.row .actions {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  border-left: solid 1px #EFEFEF;
}


