@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.message {
  width: 100%;
  padding: 1em;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2em;
  margin-top: 1em;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  animation: fadeIn 1s forwards;
}

.message.fadeOut {
  animation: fadeOut 1s forwards;
}

.success {
  color: #155724;
  background-color: #D4EDDA;
  border-color: #C3E6CB;
}

.info {
  color: #151957;
  background-color: #deebf5;
  border-color: #b1cee2;
}

.warning {
  color: #b38c3f;
  background-color: #f5eddd;
  border-color: #c9b185;
}

.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
