.projectCard {
  border: 1px solid #ccc;
  width: 270px;
  margin: 0.5%;
  background-color: #ffffff;
}

.projectCard .name {
  border-bottom: solid 1px #ccc;
  padding: 0.7em 1em;
}

.projectCard .content {
  padding: 0.7em 1em 0 1em;
}

.projectCard h4 {
  color: #212121;
  font-size: 1.2em;
  text-transform: uppercase;
}

.projectCard p {
  color: #7a7a7a;
  margin-bottom: 1em;
}

.projectCard p span {
  font-weight: bold;
}

.categoryText {
  display: flex;
  align-items: center;
}

.categoryText span {
  display: block;
  width: 12px;
  height: 12px;
  background-color: #CCC;
  margin-right: 5px;
  border-radius: 50%;
}

.categoryText .infra {
  background-color: #FFAEBC;
}

.categoryText .development {
  background-color: #a0e7e5;
}

.categoryText .design {
  background-color: #b4f8c8;
}

.categoryText .planejamento {
  background-color: #fbe7c6;
}

.projectCardActions {
  margin-top: 1.2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projectCardActions a,
.projectCardActions button {
  text-decoration: none;
  border: none;
  background-color: #fff;
  color: #222;
  font-size: .9em;
  padding: .6em 1em;
  cursor: pointer;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-self: center;
  transition: 0.5s;
}

.projectCardActions svg {
  margin-right: .5em;
}

.projectCardActions a:hover,
.projectCardActions button:hover {
  background-color: #ffbb33;
  border-color: #ffbb33;
}
