/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", "Segoe UI", "Menlo";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}

html,
body,
#root {
  background-color: #efefef;
  height: 100%;
} */

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

* {
  font-family: "Open Sans", "Segoe UI", "Menlo";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}

html,
body,
#root {
  background-color: #efefef;
  height: 100%;
  font-size: 100%;
  list-style-type: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/* Define a animação */
@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

@keyframes flipR {
  100% {
    transform: rotateY(0deg);
  }
  0% {
    transform: rotateY(180deg);
  }
}

/* Estilo para a imagem */
.animate.flip-h {
  display: inline-block;
  animation: flipR 1s forwards; /* dispara novamente no hover */
}

/* Ativação ao hover (opcional) */
.animate.flip-h:hover {
  animation: flip 1s forwards; /* dispara novamente no hover */
}
